* {
    -fx-font-family: "Segoe UI", sans-serif;
}

.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.settings-label {
    -fx-padding: 5px 10px 5px 0px;
}

.header-label {
    -fx-padding: 5px 0px 15px 0px;
}

.hyperlink {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#about-dialog {
    -fx-padding: 20px;
}

.buttonBar {
    -fx-padding: 20px;
}

.about-hyperlink{
    -fx-padding: 0px 0px 10px 0px;
}


